body {
    /* CSS Variables that may have been missed get put on body */
    --size: 83vh;
    --sizebox: calc(var(--size) / 2.2);
}

:root {
    --color-white: #fff;
    --coloractive: #ddbd48;
    --bgactive: #004a8f;
    --wrapcontent: 82vw;
    --padding-page: 4rem 0;
    --color-black20: rgba(0, 0, 0, 0.2);
}

.ani-item {
    opacity: 0;
}

.business-home-list {
    position: relative;
    display: block;
    --size: 83vh;
    width: var(--size);
    height: var(--size);
}

@media screen and (min-width: 1100px) {
    .ani-item.on-show {
        animation-name: fadeInUp;
        animation-duration: 1.2s;
        animation-delay: 0.3s;
        animation-fill-mode: forwards;
    }

    .business-home-list.on-show {
        animation-name: fadeInBlur02;
        animation-duration: 1.2s;
        animation-delay: 0.3s;
        animation-fill-mode: forwards;
    }
}


.business-home {
    position: absolute;
    --sizebox: calc(var(--size) / 2.2);
    width: var(--sizebox);
    height: var(--sizebox);
}

@media (hover: hover) and (pointer: fine) and (min-width: 1100px) {
    .business-home {
        cursor: pointer;
    }
}

.business-home:nth-child(1) {
    top: 0;
    left: calc(50% - var(--sizebox) / 2);
}

.business-home:nth-child(2) {
    top: calc(50% - var(--sizebox) / 2);
    left: 0;
}

.business-home:nth-child(3) {
    top: calc(50% - var(--sizebox) / 2);
    right: 0;
}

.business-home:nth-child(4) {
    bottom: 0;
    left: calc(50% - var(--sizebox) / 2);
}

.business-home:nth-child(5) {
    top: calc(50% - var(--sizebox) / 2);
    left: calc(50% - var(--sizebox) / 2);
}

.business-home .box-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.logo-bus-home {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.logo-bus-home {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.svgMask {
    position: relative;
    filter: drop-shadow(0 20px 30px var(--color-black20));
    z-index: 2;
}

.svgMask {
    height: 100%;
    width: 100%;
    overflow: visible;
}

.svg-stroke {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.svg-stroke {
    stroke: var(--coloractive);
    stroke-width: 0.4px;
    fill: var(--coloractive);
    fill-opacity: 0;
    z-index: 2;
    
}

@media (hover: hover) and (pointer: fine) and (min-width: 1100px) {
    .business-home .svg-stroke {
        transition: all 0.3s ease-in-out;
    }
}

.logo-bus-home svg {
    position: relative;
    display: block;
    width: 32%;
    height: 32%;
    color: var(--coloractive);
}

@media (hover: hover) and (pointer: fine) and (min-width: 1100px) {
    .logo-bus-home svg {
        transition: all 0.3s ease-in-out;
    }
}

.business-home:nth-child(1) .logo-bus-home svg {
    top: -1.5rem;
}

.business-home:nth-child(2) .logo-bus-home svg {
    left: -1rem;
}

.business-home:nth-child(3) .logo-bus-home svg {
    right: -1rem;
}

.business-home:nth-child(4) .logo-bus-home svg {
    bottom: -1.5rem;
}

.svgMask image {
    height: 100%;
    width: 100%;
    overflow: visible;
}

@keyframes fadeInBlur02 {
    0% {
        opacity: 0;
        filter: blur(5px);
        transform: scale(1.1);
        opacity: 0;
        filter: blur(5px);
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        filter: none;
        transform: none;
        opacity: 1;
        filter: none;
        transform: none;
    }
}

// add

.img-css{
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}